.page-auth {
  .row-login {
    min-height: 70vh;
  }
  .section-store-auth {
    h2 {
      font-weight: normal;
      font-size: 28px;
      line-height: 42px;
      color: #0c0d36;
    }

    .form-control {
      background: #f3f3f3;
      border-radius: 8px;
    }
    .btn-signup {
      @include button-variant(#f3f3f3, transparent);
      color: #bbbbbb;
      border-radius: 6px;
    }
  }
}
