.page-success {
  .row-login {
    min-height: 75vh;
  }
  .section-success {
    h2 {
      font-weight: normal;
      font-size: 28px;
      line-height: 42px;
      text-align: center;
      color: #0c0d36;
    }
    .btn-signup {
      background: #f3f3f3;
      border-radius: 6px;
      color: #bbbbbb;
    }
  }
}
